---
import { queryFeatureFlag } from "virtual:astro-simple-feature-flags";

import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

const isFooReleased = await queryFeatureFlag("fooReleased");
---

<Layout>
	<Welcome />
	{
		isFooReleased ? (
			<p class="text-green-500">The fooReleased flag is enabled!</p>
		) : (
			<p class="text-red-500">The fooReleased flag is disabled.</p>
		)
	}
</Layout>
