---
import { queryFeatureFlag } from "virtual:astro-simple-feature-flags";

import Layout from "../layouts/Layout.astro";

const isFooReleased = await queryFeatureFlag("fooReleased");
const barReleaseRate = await queryFeatureFlag("barReleaseRate");
---

<Layout>
	<main class="container pad">
		{
			isFooReleased ? (
				<p class="text-green-500">The fooReleased flag is enabled!</p>
			) : (
				<p class="text-red-500">The fooReleased flag is disabled.</p>
			)
		}
		{
			barReleaseRate > 0 ? (
				<p class="text-blue-500">The barReleaseRate is set to {barReleaseRate}.</p>
			) : (
				<p class="text-gray-500">The barReleaseRate is not set.</p>
			)
		}
	</main>
</Layout>

<style>
	.container {
		max-width: min(100%, 800px);
		margin-inline: auto;
	}

	.pad {
		padding: 1rem;
	}
</style>
